@import helper._

@(form: Form[controllers.AddApplicationForm])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@body = {
    <div>
    @helper.form(action = controllers.routes.ManageApplicationController.createApplicationAction) {
        @CSRF.formField

        @if(form.hasErrors) {
            @for(error <- form.errors) {
                <p class="error-notification">@Messages(error.message)</p>
            }
        }

        <div class="form-field-group">
            <div class="form-field">
                <label for="applicationName" class="label--full-length"><strong>Application name</strong></label>
                <input type="text" id="applicationName" name="applicationName" value="@form.data.get("applicationName")" maxLength="50"/>
            </div>

            <div class="form-field">
                <label for="description" class="label--full-length"><strong>Description</strong> (optional)</label>
                <textarea id="description" name="description" maxLength="250">@form.data.get("description")</textarea>
            </div>

            <button class="button" id="add" type="submit" role="button">Add</button>
            <a href="@routes.ManageApplicationController.manageApps" >Cancel</a>
        </div>
    }
    </div>
}

@include.template("Add an application", body)
