@import helper._
@import models.Application

@(loggedInUser: Developer, applicationView: ApplicationViewData, form: Form[controllers.EditApplicationForm], saved: Option[Boolean] = None)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@body = {
    <div>
    <ul class="tabs-nav">
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="0"><span class="tabs-nav__tab--active">Application Details</span></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="1"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="2"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=SANDBOX_CREDENTIALS_TAB">Sandbox Credentials</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="3"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=PRODUCTION_CREDENTIALS_TAB">Production Credentials</a></li>
    </ul>
    <p>
    @helper.form(action = controllers.routes.ManageApplicationController.updateApplicationAction(applicationView.app.id.toString)) {
        @CSRF.formField

        @if(form.hasErrors) {
            @for(error <- form.errors) {
                <p class="error-notification">@Messages(error.message)</p>
            }
        }

        @if(saved.getOrElse(false)) {
            <p class="alert alert--success">Your changes have been saved</p>
        }

        <div class="form-field-group">
            <div class="form-field">
                <label for="applicationName" class="label--full-length"><strong>Application name</strong></label>
                <input type="text" id="applicationName" name="applicationName" value="@form.data.get("applicationName")" maxLength="50"/>
            </div>

            <div class="form-field">
                <label for="description" class="label--full-length"><strong>Description</strong> (optional)</label>
                <textarea id="description" name="description" maxLength="250">@form.data.get("description")</textarea>
            </div>

            <div class="form-field">
                <label for="redirectUris" class="label--full-length"><strong>Redirect Uris</strong></label>
                <input type="text" id="redirectUris[0]" name="redirectUris[]" value="@form.data.get("redirectUris[0]")" maxLength="50"/><br/>
                <input type="text" id="redirectUris[1]" name="redirectUris[]" value="@form.data.get("redirectUris[1]")" maxLength="50"/><br/>
                <input type="text" id="redirectUris[2]" name="redirectUris[]" value="@form.data.get("redirectUris[2]")" maxLength="50"/>
            </div>

            <div class="form-field">
                <label for="rateLimitTier" class="label--full-length"><strong>Rate Limit Tier</strong></label>
                <select id="rateLimitTier" name="rateLimitTier" class="form-control" value="@form.data.get("rateLimitTier")">
                    @for(tier <- RateLimitTier.values) {
                        <option @if(form.data.get("rateLimitTier").contains(tier.toString)) {selected} value="@tier">@tier</option>
                    }
                </select>
            </div>
        </div>

        <button id="save" class="button" type="submit" role="button">Save</button>
    }
    </p>
    </div>
}

@include.template(s"Application " + applicationView.app.name, Some(loggedInUser), body)
