@import models.Application

@(applicationView: ApplicationViewData)(implicit request: play.api.mvc.Request[Any])

@body = {
    <ul class="tabs-nav">
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="0"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id">Application Details</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="1"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="2"><span class="tabs-nav__tab--active">Credentials</span></li>
    </ul>

    <p>
    Application Name: @{applicationView.app.name}
    Production Credentials: @{applicationView.app.credentials.production}
    Sandbox Credentials: @{applicationView.app.credentials.sandbox}
    </p>
}

@include.template("Application " + applicationView.app.name, body)
