@import models.Application

@(applicationView: ApplicationViewData)(implicit request: play.api.mvc.Request[Any])

    <html>
        <head><title>Application @{applicationView.app.name}</title></head>
        <body>
            <a href="/applications/dda3add6-dda6-4785-aa0b-644cb403e12c">Application Details</a>
            <br/>
            <a href="/applications/dda3add6-dda6-4785-aa0b-644cb403e12c?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a>
            <br/>
            <a href="/applications/dda3add6-dda6-4785-aa0b-644cb403e12c?tab=APP_CREDENTIALS_TAB">Credentials</a>
            <p>
            Application Name: @{applicationView.app.name}
            Production Credentials: @{applicationView.app.credentials.production}
            Sandbox Credentials: @{applicationView.app.credentials.sandbox}
            </p>
        </body>
    </html>
