@import helper._
@import models.Application

@(applicationView: ApplicationViewData, form: Form[controllers.EditApplicationForm])(implicit request: play.api.mvc.Request[Any], messages: Messages)

    <html>
        <head><title>Application @{applicationView.app.name}</title></head>
        <body>
            <a href="/applications/@applicationView.app.id">Application Details</a>
            <br/>
            <a href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a>
            <br/>
            <a href="/applications/@applicationView.app.id?tab=APP_CREDENTIALS_TAB">Credentials</a>
            <p>
                @helper.form(action = controllers.routes.ManageApplicationController.createApplicationAction) {
                    @CSRF.formField

                    @if(form.hasErrors) {
                        There are errors on the page.
                        <ul>
                            @for(error <- form.errors) {
                                <li>@Messages(error.message)</li>
                            }
                        </ul>
                    }

                    <label for="applicationName"><strong>Application name</strong></label>
                    <input type="text" id="applicationName" name="applicationName" value="@form.data.get("applicationName")" maxLength="50"/>

                    <label for="description"><strong>Description</strong> (optional)</label>
                    <textarea id="description" name="description" maxLength="250">@form.data.get("description")</textarea>

                    <label for="redirectUris"><strong>RedirectUris</strong></label>
                    @applicationView.app.redirectUris

                    <label for="rateLimitTiers"><strong>Rate Limit Tiers</strong></label>
                    <input type="text" id="rateLimitTiers" name="rateLimitTiers" value="@form.data.get("rateLimitTiers")" maxLength="50"/>
                }
            </p>
        </body>
    </html>
