@import models.ApplicationSummary

@(applications: Seq[ApplicationSummary])(implicit request: play.api.mvc.Request[Any])

    <html>
        <head><title>Applications</title>
            <link rel="stylesheet" type="text/css" href="assets/css/main.css">

        </head>
        <body>
            <header>
            <div id ="global-header">
                <div class="header-wrapper">
                    <div class="header-global">
                        <div class="header-logo">
                            My Logo
                        </div>
                    </div>
                    <div class="header-proposition">
                        <div class="content">
                            <nav id="proposition-menu" class="header__menu" role="navigation">
                                <a href="https://developer.service.hmrc.gov.uk/api-documentation" class="header__menu__proposition-name">HMRC Developer Hub</a>
                                <ul id="proposition-links" class="header__menu__proposition-links">
                                    <li>
                                        <a class="align--middle inline-block " href="/api-documentation/docs/using-the-hub">Documentation</a>
                                    </li>
                                    <li>
                                        <a class="align--middle inline-block " href="/developer/applications">Applications</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
                <div class="centered-content">
                    <div class="service-info ">
                        <div id="user-nav-links" class="header__menu__proposition--sub-header">
                            <ul class="header__menu__proposition-links">
                                <li>
                                    <a class="align--middle inline-block link-style" href="/developer/profile">Thomas VANDEVELDE</a>
                                </li>
                                <li class="hard--right">
                                    <a class="align--middle inline-block link-style" href="/developer/logout/survey">Sign out</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <main id="wrapper">
            <table class="app">
                <colgroup>
                    <col width="25%"/>
                    <col width="50%"/>
                    <col width="25%"/>
                </colgroup>
                <thead>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Role</th>
                </thead>
                <a href="@{routes.ManageApplicationController.createApplicationForm()}">Add an application</a>

                @for(app<-applications) {
                    <tr>
                        <td>
                            <a href="@{routes.ManageApplicationController.editApplication(app.id, None)}">@app.name</a>
                        </td>
                        <td>@app.description</td>
                        <td>
                            @if(app.role == Role.ADMINISTRATOR) {Admin}
                            @if(app.role == Role.DEVELOPER) {Developer}
                        </td>
                    </tr>
                }
            </table>
            </main>
        </body>
    </html>
