@import models.ApplicationSummary
@import org.webjars.play.WebJarsUtil

@(loggedInUser: Developer, applications: Seq[ApplicationSummary])(implicit request: play.api.mvc.Request[Any], webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>Manage Applications</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">

                    <a class="btn btn-primary" href="@{routes.ManageApplicationController.createApplicationForm()}">Add an application</a>

                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Role</th>
                            </tr>
                        </thead>
                        <tbody>
                        @for(app<-applications) {
                            <tr>
                                <td>
                                    <a href="@{routes.ManageApplicationController.editApplication(app.id, None, None)}">@app.name</a>
                                </td>
                                <td>@app.description</td>
                                <td>
                                    @if(app.role == Role.ADMINISTRATOR) {Admin}
                                    @if(app.role == Role.DEVELOPER) {Developer}
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
}

@include.template(s"Manage Applications", Some(loggedInUser), body)
