@import models.ApplicationSummary

@(applications: Seq[ApplicationSummary])(implicit request: play.api.mvc.Request[Any])

@body = {
    <a class="button" href="@{routes.ManageApplicationController.createApplicationForm()}">Add an application</a>
    <table class="app">
        <colgroup>
            <col width="25%"/>
            <col width="50%"/>
            <col width="25%"/>
        </colgroup>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Role</th>
        </thead>

        @for(app<-applications) {
            <tr>
                <td>
                    <a href="@{routes.ManageApplicationController.editApplication(app.id, None)}">@app.name</a>
                </td>
                <td>@app.description</td>
                <td>
                    @if(app.role == Role.ADMINISTRATOR) {Admin}
                    @if(app.role == Role.DEVELOPER) {Developer}
                </td>
            </tr>
        }
    </table>
}

@include.template(s"Manage Applications", body)
