@import models.Application
@import org.webjars.play.WebJarsUtil

@(loggedInUser: Developer, applicationView: ApplicationViewData)(implicit request: play.api.mvc.Request[Any], webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>Application</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="/applications/@applicationView.app.id">Application Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/applications/@applicationView.app.id?tab=SANDBOX_CREDENTIALS_TAB">Sandbox Credentials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Production Credentials</a>
                        </li>
                    </ul>

                    <h2>Production Credentials</h2>

                    <section class="divider--bottom">
                        <h3>Client ID</h3>
                        <p>@{applicationView.app.credentials.production.clientId}</p>
                    </section>

                    <section class="divider--bottom">
                        <h3>Client Secret</h3>
                        @for(clientSecret <- applicationView.app.credentials.production.clientSecrets) {
                            <p>@{clientSecret.secret}</p>
                        }
                    </section>

                    <section class="divider--bottom">
                        <h3>Server Token</h3>
                        <p>@{applicationView.app.credentials.production.serverToken}</p>
                    </section>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Application " + applicationView.app.name, Some(loggedInUser), body)
