@import models.Application

@(applicationView: ApplicationViewData)(implicit request: play.api.mvc.Request[Any])

@body = {
    <ul class="tabs-nav">
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="0"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id">Application Details</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="1"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="2"><a class="tabs-nav__tab" href="/applications/@applicationView.app.id?tab=SANDBOX_CREDENTIALS_TAB">Sandbox Credentials</a></li>
        <li aria-selected="false" role="tab" class="tab" aria-controls="subscriptions" tabindex="3"><span class="tabs-nav__tab--active">Production Credentials</span></li>
    </ul>

    <h2>Production Credentials</h2>

    <section class="divider--bottom">
        <h3>Client ID</h3>
        <p>@{applicationView.app.credentials.production.clientId}</p>
    </section>

    <section class="divider--bottom">
        <h3>Client Secret</h3>
        @for(clientSecret <- applicationView.app.credentials.production.clientSecrets) {
            <p>@{clientSecret.secret}</p>
        }
    </section>

    <section class="divider--bottom">
        <h3>Server Token</h3>
        <p>@{applicationView.app.credentials.production.serverToken}</p>
    </section>
}

@include.template("Application " + applicationView.app.name, body)
