@import models.Application
@import org.webjars.play.WebJarsUtil

@(loggedInUser: Developer, applicationView: ApplicationViewData)(implicit request: play.api.mvc.Request[Any], webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>Application</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="/applications/@applicationView.app.id">Application Details</a>
                        </li>
                        <li>
                            <a href="/applications/@applicationView.app.id?tab=APP_SUBSCRIPTIONS_TAB">Subscriptions</a>
                        </li>
                        <li class="active">
                            <a href="/applications/@applicationView.app.id?tab=SANDBOX_CREDENTIALS_TAB">Sandbox Credentials</a>
                        </li>
                        <li>
                            <a href="/applications/@applicationView.app.id?tab=PRODUCTION_CREDENTIALS_TAB">Production Credentials</a>
                        </li>
                    </ul>
                    <br/><br/>

                    <div class="form-group">
                        <label><strong>Client ID</strong></label>
                        <p>@{applicationView.app.credentials.sandbox.clientId}</p>
                    </div>

                    <div class="form-group">
                        <label><strong>Client Secret</strong></label>
                        @for(clientSecret <- applicationView.app.credentials.sandbox.clientSecrets) {
                            <p>@{clientSecret.secret}</p>
                        }
                    </div>

                    <div class="form-group">
                        <label><strong>Server Token</strong></label>
                        <p>@{applicationView.app.credentials.sandbox.serverToken}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Application " + applicationView.app.name, Some(loggedInUser), body)
