@import helper._
@import org.webjars.play.WebJarsUtil

@(loggedInUser: Developer, form: Form[controllers.ChangePasswordForm])(implicit request: play.api.mvc.Request[Any], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>Change Password</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">

                    @helper.form(action = controllers.routes.ProfileController.changePasswordAction) {
                        @CSRF.formField

                        @if(form.hasErrors) {
                            <div class="alert alert-danger" role="alert">
                            @for(error <- form.errors) {
                                @Messages(error.message)<br/>
                            }
                            </div>
                        }

                        <div class="form-group">
                            <label for="oldPassword"><strong>Current Password</strong></label>
                            <input type="password" class="form-control"  id="oldPassword" name="oldPassword" value="@form.data.get("oldPassword")" maxLength="50"/>
                        </div>

                        <div class="form-group">
                            <label for="password"><strong>New Password</strong></label>
                            <input type="password" class="form-control"  id="password" name="password" value="@form.data.get("password")" maxLength="50"/>
                        </div>

                        <div class="form-group">
                            <label for="password"><strong>Confirm Password</strong></label>
                            <input type="password" class="form-control"  id="confirmPassword" name="confirmPassword" value="@form.data.get("confirmPassword")" maxLength="50"/>
                        </div>

                        <div>
                            <button class="btn btn-primary" id="save" type="submit" role="button">Change Password</button>
                        </div>
                   }
                </div>
            </div>
        </div>
    </section>
}

@include.template("Change Password", Some(loggedInUser), body)
