@import helper._

@(loggedInUser: Developer, form: Form[controllers.ChangePasswordForm])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@body = {
    <div>
    @helper.form(action = controllers.routes.ProfileController.changePasswordAction) {
        @CSRF.formField

        @if(form.hasErrors) {
            @for(error <- form.errors) {
                <p class="error-notification">@Messages(error.message)</p>
            }
        }

        <div class="form-field-group">
            <div class="form-field">
                <label for="oldPassword" class="label--full-length"><strong>Current Password</strong></label>
                <input type="password" id="oldPassword" name="oldPassword" value="@form.data.get("oldPassword")" maxLength="50"/>
            </div>

            <div class="form-field">
                <label for="password" class="label--full-length"><strong>New Password</strong></label>
                <input type="password" id="password" name="password" value="@form.data.get("password")" maxLength="50"/>
            </div>

            <div class="form-field">
                <label for="confirmPassword" class="label--full-length"><strong>Confirm Password</strong></label>
                <input type="password" id="confirmPassword" name="confirmPassword" value="@form.data.get("confirmPassword")" maxLength="50"/>
            </div>

            <button class="button" id="add" type="submit" role="button">Change Password</button>
        </div>
    }
    </div>
}

@include.template("Change Password", Some(loggedInUser), body)
