@import org.webjars.play.WebJarsUtil

@(loggedInUser: Option[Developer])(implicit request: play.api.mvc.Request[Any], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <section>
        <div class="container text-center" style="padding-top: 20px;">
            <h1 class="s-header"><strong>Scapig - Developer Hub</strong></h1>
        </div>
    </section>
    <section>
        <div class="container landing">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="well text-center">
                        Welcome! This is a developer Hub example of the <a target="_blank" href="http://scapig.com">Scapig API Platform&nbsp;<span style="font-size: 12px;" class="glyphicon glyphicon-new-window"/></a>.
                        <br/><br/>
                        <b>Create a free account to try it out!</b>
                    </div>

                    <div class="row" style="padding-top: 20px;">
                        <div class="col-sm-4 text-center" style="padding: 20px;">
                            <a href="/register">
                                <span class="glyphicon glyphicon-user" style="font-size: 60px; color:#4CAF50;"></span><br/>
                                Create an account
                            </a>
                        </div>
                        <div class="col-sm-4 text-center" style="padding: 20px;">
                            <a href="/applications/add">
                                <span class="glyphicon glyphicon-plus" style="font-size: 60px; color:#4CAF50;"></span><br/>
                                Create an Application
                            </a>
                        </div>
                        <div class="col-sm-4 text-center" style="padding: 20px;">
                            <a href="/applications">
                                <span class="glyphicon glyphicon-th-list" style="font-size: 60px; color:#4CAF50;"></span><br/>
                                Manage Applications
                            </a>
                        </div>
                        <div class="col-sm-4 text-center" style="padding: 20px;">
                            <a href="/apis">
                                <span class="glyphicon glyphicon-book" style="font-size: 60px; color:#4CAF50;"></span><br/>
                                View API Documentation
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@include.template("Scapig Developer Hub", loggedInUser, body)
