@import org.webjars.play.WebJarsUtil

@(heading: String, form: Form[controllers.LoginForm], registered: Option[Boolean] = None)(implicit request: play.api.mvc.Request[Any], messages: Messages, webJarsUtil: WebJarsUtil, assets: AssetsFinder)

@body = {
    <div>
        @helper.form(action = controllers.routes.LoginController.login) {
            @helper.CSRF.formField
            @if(form.hasErrors) {
                @for(error <- form.errors) {
                    <p class="error-notification">@Messages(error.message)</p>
                }
            }

            @if(registered.getOrElse(false)) {
                <p class="alert alert--success">You have successfully registered.</p>
            }

            <div class="form-field-group">
                <div class="form-field">
                    <label for="emailaddress" class="label--full-length"><strong>Email address</strong></label>
                    <input type="text" id="emailaddress" name="emailaddress"
                    value="@form.data.getOrElse("emailaddress", "")"
                    aria-required="true"/>
                </div>
                <div class="form-field">
                    <label for="password" class="label--full-length"><strong>Password</strong></label>
                    <input type="password" id="password"
                    name="password"
                    aria-hidden="true"
                    aria-required="true"/>
                </div>
            </div>
            <div>
                <button id="submit" class="button" type="submit">Sign in</button>
            </div>
        }
    </div>
}

@include.template("Login", None, body)
